# Ignore fasta files
*.fasta

# Ignore data directories
example_data
demo
denmark_amplicon
denmark_amplicon_no_ref
testTransmission

# Ignore config. folders
.vscode
build
dist
transmission_toolkit.egg-info



